encryption = "age"
[age]
    identity = "~/.config/chezmoi/key_chezmoi.age"
    recipient = "age1xss2p707mx7c56hyxkvxmrswvhlgs9qnly0ywmehc3s347mxes7sm0hp3c"

[git]
    autoCommit = false
    #commitMessageTemplate = "{{ `promptString \"Commit message\"` }}"
    autoPush = false
